@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    -primary: #039C67;
    -hover: #06C786;
    -bg: #131419;
    -alt-bg: #101010;
    -text: #F5F4F6;
}
body {
    font-family: Inter;
}