---
title: Hello World!
layout: base.njk
---
<div>
    <div style="position: relative;">
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
            <div id="particles"></div>
        </div>
        <h1 style="display: flex; flex-direction: column;">
            <span style="font-size: 32px;">Oliwier</span>
            <span style="color: var(--primary); font-size: 48px;">Rejniak</span>
            <span style="font-size: 24px; font-weight: 300;">Web Developer</span>
        </h1>
        
        
    </div>
    <div></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/tsparticles-slim@2.0.6/tsparticles.slim.bundle.min.js"></script>
<script src="/js/particles.js"></script>