<footer>
    <div class="container footerContainer">
        <div class="row rowCenter">
            <div class="col-4">
                <a href="http://localhost:5173/"><img class="footerImage" src="/media/Logo.png"></a>
            </div>
            <div class="col-4">
                <span class="footerHeader">Nawigacja</span>
                <div class="smallSep"></div>
                <div class="footerColumnContainer">
                    <a href="/o-mnie">O mnie</a>
                    <a href="/projekty">Projekty</a>
                    <a href="/doswiadczenie">Doświadczenie</a>
                    <a href="/oferta">Oferta</a>
                    <a href="/kontakt">Kontakt</a>
                </div>
            </div>
            <div class="col-4">
                <span class="footerHeader">Kontakt</span>
                <div class="smallSep"></div>
                <div class="footerColumnContainer footerMenu" id="kontakt">
                    <a href="mailto:kontakt@oliwierrejniak.pl"><i class="fa-solid fa-envelope footerIcons"></i>&nbsp;<span>kontakt@oliwierrejniak.pl</span></a>
                    <a href="tel:+48511258112"><i class="fa-solid fa-phone footerIcons"></i>&nbsp;<span>511 258 112</span></a>
                    <a href="https://github.com/oliwierrejniak" target="_blank"><i class="fa-brands fa-github footerIcons"></i>&nbsp;<span>oliwierrejniak</span></a>
                    <a href=""><i class="fa-brands fa-linkedin footerIcons"></i>&nbsp;<span>Oliwier Rejniak</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footerAuthor">Stronę opracował <a href="http://localhost:5173/">Oliwier Rejniak</a></div>
</footer>