<header>
    <div class="container headerContainer.">
        <div class="row">
            <div class="subheaderLeft">
                <div class="headerNameContainer">
                    <a href="http://localhost:5173">
                        <span class="headerName">Oliwier</span>
                        <span class="headerSurname">Rejniak</span>
                    </a>
                </div>
            </div>
            <div class="subheaderRight">
                <div class="menuContainer">
                    <ul class="menu">
                        <li><a href="o-mnie">O mnie</a></li>
                        <li><a href="projekty">Projekty</a></li>
                        <li><a href="doswiadczenie">Doświadczenie</a></li>
                        <li><a href="oferta">Oferta</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>