<header>
    <div class="container headerContainer.">
        <div class="row">
            <div class="subheaderLeft">
                <div class="headerNameContainer">
                    <span class="headerName">Oliwier</span>
                    <span class="headerSurname">Rejniak</span>
                </div>
            </div>
            <div class="subheaderRight">
                <div class="menuContainer">
                    <ul class="menu">
                        <li><a href="o-mnie">O mnie</a></li>
                        <li><a href="projekty">Projekty</a></li>
                        <li><a href="doswiadczenie">Doświadczeznie</a></li>
                        <li><a href="oferta">Oferta</a></li>
                        <li><a href="kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>